<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div class="container">
    <div class="head">
        <h1>To-Do List</h1>
        <div style="display: flex; align-items: center;">
            <h3>{{ foydalanuvchi }}</h3>
            <a href="/logut/" style="text-decoration: none; color: red;">
                Log out
            </a>
        </div>
    </div>

    <div class="task-add">
        <form id="task-form" method="post">
            {% csrf_token %}
            <div class="form1">
                <input type="text" name="name" placeholder="Add Task...">
                <input type="date" name="date">
                <select name="status">
                    {% for s in holatlar %}
                    <option class="opt" value="{{s}}">
                        {{s}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="fomr1">
                <input type="text" name="details" placeholder="Details ...">
                <button type="submit" class="btn">Add Task</button>
            </div>
        </form>
    </div>
    <hr style="margin: 10px 5px;">
        {% for r in rejalar %}
    <div class="task">

        <ul id="task-list">
            <li>
                <div>
                    {{ r.title }}
                </div>
                <div>
                    <input type="text" value="{{r.status}}" readonly>
                    <input type="text" value="{{r.date}}" readonly>
                    <button type="submit" class="edit"><a href="/edit/{{r.id}}/">Edit</a></button>
                    <button type="submit" class="delete"><a href="/delete_plan/{{r.id}}/">Delete</a></button>
                </div>
            </li>
        </ul>
        <ul class="details">
            Task-Details: {{ r.details }}
        </ul>

    </div>
        {% endfor %}
</div>
</body>
</html>